:root {
  --logo-purple-light : #8451CF;
  --logo-green : #4ACD8D;
  --white : #ffffff;
  --body-bg :#131319;
  --gray : #4C5463;
  --black : #000000;
  --light-gray : 
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  outline: none;
  border: none;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--white);
}
body {
  font-family: 'epilogueregular';
  background-color: var(--body-bg);
  color: var(--white);
}

/* Helper classes */
.row {
  display: flex;
  flex-wrap: wrap;
}
.col{
  display: flex;
  flex-direction: column;
}
.align-item-center {
  align-items: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
    justify-content: flex-end;
  }
.space-between {
  justify-content: space-between;
}
.space-evenly {
  justify-content: space-evenly;
}
.space-around {
  justify-content: space-around;
}
.justify-center {
  justify-content: center;
}
.grid {
  display: grid;
}
.w-100 {
  width: 100%;
}
.text-center {
  text-align: center;
}

/* Generic */

.container {
  width: 1200px;
  margin: 0px auto;
}
.box-widget{
  background-color: var(--gray);
  border-radius: 5px;
  padding: 5px 2px;
  font-size: 1.2rem;
}
.box-widget p{
  text-transform: capitalize;
}
.box-widget .box-value{
  background-color: var(--black);
  font-size: 1rem;
}

/* Header */
header .topbar{
  align-items: start;
  border-bottom: 2px solid var(--logo-green);
}
header .topbar .header{
  width: 93%;
  margin: 10px 0px;
}
header .topbar .exit{
  margin: 5px 2px;
  width: 5%;
}
header .topbar .header .logo{
  font-size: 1.3rem;
  font-family: 'pacificoregular';
  width: 16%;
  background-color: var(--logo-green);
  padding: 8px 2px;
}
header .topbar .header .page-heading{
  font-size: 1.4rem;
  width: 60%;
}
header .topbar .header .timestamp{
  width: 21%;
}

/* Bill Details */
.bill-details{
  margin: 10px 0px;
  align-items: center;
}
.bill-details .input-box{
  width: 32%;
}
.bill-details .input-box label{
  font-size: 1.1rem;
  padding: 0px 5px;
}
.bill-details .input-box label input,
.bill-details .input-box label select{
  width: 210px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--gray);
  height: 40px;
  color : var(--black);
  font-family: 'epilogueregular';
}
.bill-details .input-box label input:disabled,
main .main section .item-details input:disabled{
  background-color: #bbd4d4;
}


/* Main: Section1 : Add Items */
main{
  margin: 6vh 0px;
}
main .main section{
  margin: 8px 0px;
}
main .main section:first-child{
  background-color: var(--logo-green);
}
main .main section .item-add{
  width: 100%;
  padding: 13px 5px;
  color: var(--black);
}
main .main section .item-add .item-details{
  width: 12%;
}
main .main section .item-add .item-details h3{
  text-transform: capitalize;
}
main .main section .item-add .item-details input,
main .main section .item-add .item-details select{
  width: 140px;
  margin: 5px 0px;
  padding: 8px 4px;
  border-radius: 8px;
}
main .main section .crud-btns{
  margin: 8px auto;
  padding: 5px;
  width: 50%;
}
main .main section .crud-btns .crud-btn{
  border-radius: 4px;
  background-color: var(--body-bg);
}

/* main : Section2 : ViewItems */
main .main section .divison-section{
  width: 100%;
}
main .main section .divison-section .item-view{
  width: 70%;
  /* background-color: #4ACD8D; */
}
main .main section .divison-section .item-view h3{
  text-align: center;
  font-size: 25px;
  color: blue;
}
main .main section .divison-section .item-view table{
  margin: 2px auto;
  width: 98%;
  text-transform: capitalize;
}
main .main section .divison-section .item-view table thead{
  background-color: var(--gray);
  font-size: 18px;
  font-weight: 800;
}
main .main section .divison-section .item-view table thead td{
  padding: 10px 5px;
}
main .main section .divison-section .item-view table tr,
main .main section .divison-section .item-view table td{
  border: 1px solid var(--white);
  padding: 3px 2px;
}

/* Main: Sidebar */
main .main section .divison-section aside{
  width: 29%;
  background-color: #8451CF;
}

